# Install and Import Dependencies

In [12]:
# !pip install "camelot-py[base]"
# !apt install ghostscript python3-tk
import camelot

# Detect and read table

In [13]:
tables = camelot.read_pdf('/content/table.pdf')
tables

In [14]:
# table report
tables[0].parsing_report

{'accuracy': 99.27, 'whitespace': 13.89, 'order': 1, 'page': 1}

# Convert to dataframe

In [16]:
import pandas as pd
data = tables[0].df
data.head()

,0,1,2,3,4,5
0,Disability \nCategory,Participants,Ballots \nCompleted,Ballots \nIncomplete/ \nTerminated,Results,
1,,,,,Accuracy,Time to \ncomplete
2,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
3,Low Vision,5,2,3,"98.3% n=2 \n(97.7%, n=3)","1716 sec, n=3 \n(1934 sec, n=2)"
4,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"

# Download data

In [9]:
tables[0].to_csv('foo.csv')